*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
}

img,
img::before,
img::after {
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: white;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
}

.header {
  order: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: white;
}

.logo {
  float: left;
  order: 1;
  margin: 27px auto 0.5px 36px;
}

.mobile-toolbar {
  float: right;
  order: 1;
  margin: 20px 40px 0.5px auto;
}

@media only screen and (max-width: 48em) {
  .desktop-toolbar {
    display: none;
  }
}

#mobile-menu {
  display: none;
  position: fixed;
  background: #6070ff;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  padding: 4em 1.25em 15em;
  backdrop-filter: blur(14px);
}

.menu a {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration-line: none;
  color: white;
  margin-top: 0.75em;
}

#cancel-btn {
  float: right;
  color: #fff;
  background-color: transparent;
  width: 1.25em;
  border: none;
  font-size: 1em;
  margin-top: -0.75em;
}

#cancel-btn:hover,
#cancel-btn:focus {
  cursor: pointer;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  order: 2;
  padding: 3px;
  gap: 12px;
}

.intro {
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.7s ease-in-out;
}

.headline-primary-text {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline-primary-text > h2 {
  margin-top: -5vh;
}

.headline-bodytext {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-media-text {
  font-weight: 500;
  font-size: 20px;
  color: #7f8cff;
  line-height: 24px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
  gap: 20px;
}

#work-heading {
  display: none;
}

.work-grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin-bottom: 1em;
}

.work {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  transition: 0.5s ease-in-out;
  margin-bottom: 1em;
  padding: 0.25em 0.25em 0.25em 0.25em;
}

.work h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.workframe ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0%;
  gap: 12px;
  margin-top: -30px;
}

.worktag ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 5px;
}

.worktag > ul > li > div {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.workframe > ul > li > div {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work-primary-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: white;
  color: #6070ff;
  font-size: large;
  margin-bottom: 5px;
  margin-left: 5px;
  transition: 0.7s ease-in-out;
}

.button:hover {
  background-color: #6070ff;
  color: white;
}

.button:active {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: row;
  text-align: center;
  color: white;
  background-color: #2230d2;
  border-radius: 8px;
}

.button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

#about-myself {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  border-radius: 0;
  transition: 0.5s ease-in-out;
}

#about-myself-primary-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#about-myself-bodytext {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#about-myself-social-media-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #7f8cff;
}

#about-myself-social-media-icons ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  gap: 20px;
}

.skill-list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1em;
}

#ul-languages,
#ul-frameworks,
#ul-skills {
  width: 100%;
  border-bottom: 1px solid #cdcccc;
}

#ul-languages h5,
#ul-frameworks h5,
#ul-skills h5 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

#lang-list {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
  padding: 0;
}

#javascript,
#html,
#css {
  height: 50px;
  width: 250px;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  background: #eee;
  border-radius: 8px;
}

.footer {
  background-image: url(./images/contact-form-shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  background-color: #6070ff;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  order: 3;
  border-top-left-radius: 3em;
  transition: 0.5s ease-in-out;
}

#contact-primary-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: white;
  margin-top: 5em;
  text-align: center;
}

#contact-bodytext {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

#form-name,
#form-mail {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #b3bac5b3;
  background-color: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 327px;
  height: 48px;
}

#form-message {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #b3bac5b3;
  background-color: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: 5px;
  width: 327px;
  height: 170px;
}

#get-in-touch-button {
  margin-top: 12px;
  margin-left: 5px;
}
/*
Introduction
*/

header {
  background-color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 42px 24px 24px 24px;
  font-weight: 700;
  color: #6070ff;
  font-size: 1.125em;
}

.logo {
  text-decoration: none;
  color: #1c32ff;
}

.desc ul {
  list-style-type: none;
  display: flex;
}

.social-icons {
  display: flex;
  list-style-type: none;
}

.nav-bar > ul {
  list-style-type: none;
  cursor: pointer;
}

.headline {
  padding: 124px 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  background-image:
    url('./images/first-section/img-01.svg'),
    url('./images/first-section/img-02.svg'),
    url('./images/first-section/img-03.svg'),
    url('./images/first-section/img-04.svg'),
    url('./images/first-section/img-05.svg'),
    url('./images/first-section/img-06.svg'),
    url('./images/first-section/img-07.svg'),
    url('./images/first-section/img-08.svg'),
    url('./images/first-section/img-09.svg'),
    url('./images/first-section/img-10.svg'),
    url('./images/first-section/img-11.svg'),
    url('./images/first-section/img-12.svg'),
    url('./images/first-section/img-13.svg');
  background-position:
    top 2% left,
    top 4% left,
    top 11% left 40%,
    top 10% left 42%,
    top 1% left 60%,
    top 6.5% right,
    top 13% right,
    top 36% right 18%,
    bottom 27% right 12%,
    bottom 24% right 14%,
    bottom 8% left 16%,
    bottom 5.5% right 32%,
    bottom 3% right 37%;
  background-repeat: no-repeat;
}

.headline-text {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.5em;
  color: #172b4d;
  padding-bottom: 12px;
}

.supporting-text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  color: #344563;
}

.connect {
  align-self: flex-start;
  color: #1c32ff;
  font-size: 1.125em;
  line-height: 1.3em;
  margin-top: 15px;
  font-weight: 500;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  background-color: white;
}

.connect:hover {
  background-color: white;
  color: #1c32ff;
  box-shadow: unset;
}

.connect:active {
  background-color: white;
  color: #1c32ff;
}

.icons {
  color: #505f79;
  padding: 10px 18px 0 0;
  font-size: 20px;
}

.icons:hover {
  color: #1c32ff;
}

/*
work-section
*/

.recent-work {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  row-gap: 100px;
}

.card {
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card:first-child {
  margin-top: 100px;
}

.card:last-child {
  margin-bottom: 100px;
}

.inner-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img,
.inner-card img {
  width: 100%;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.desc h3 {
  font-size: 2em;
  color: #172b4d;
}

.desc h4 {
  font-size: 1em;
  color: #172b4d;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: 500;
}

.contact-wrapper span {
  text-align: center;
}

.project-header span {
  color: #7a869a;
  text-transform: capitalize;
}

.project-footer span {
  width: 100%;
  border: 1px solid #ebecf0;
  margin-bottom: 24px;
}

.desc h4 span {
  padding-right: 0 12px;
  color: #c1c7d0;
  text-transform: capitalize;
}

.desc span::before,
.project-header span::before {
  content: "•";
  margin: 0 8px;
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.desc p {
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 1.3em;
  color: #344563;
  padding-bottom: 16px;
}

.desc li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-size: 0.75em;
  line-height: 1em;
  font-weight: 500;
  color: #0516b1;
  letter-spacing: 0.03em;
  margin-right: 8px;
}

.item-1-list li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
}

.button {
  padding: 12px;
  border: 1px solid #485aff;
  background-color: white;
  border-radius: 8px;
  font-size: 1.0625em;
  letter-spacing: 0.03em;
  color: #1c32ff;
  font-weight: 500;
  line-height: 1.3em;
  align-self: flex-start;
  margin: 24px 0 12px 0;
}

.button:hover {
  background-color: #1c32ff;
  color: white;
  box-shadow: 0 8px 16px #4053fc3d;
  cursor: pointer;
}

.button:active {
  background-color: #2230d2;
  color: white;
}

.button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.form-btn {
  align-self: center;
}

.form-btn:hover {
  background-color: #fff;
  color: #1c32ff;
}

/*
about-me
*/

.about {
  padding: 124px 24px 120px 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 50px;
}

.skills {
  padding: 12px;
  font-weight: 500;
  font-size: 1.25em;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 12px 0;
  border-bottom: 1px solid #dfe1e6;
}

.skill-item:first-child {
  border-bottom: none;
  flex-direction: column;
}

.item-1-header {
  display: flex;
  justify-content: space-between;
}

.item-1-list {
  font-size: 0.8em;
}

.item-1-list img {
  width: 48px;
  margin-right: 16px;
}

/*
contact form
*/

.contact-form {
  background: white;
}

.contact-wrapper > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-wrapper {
  background-color: #2b40fa;
  border-top-left-radius: 50px;
  padding: 100px 24px 0 24px;
  display: flex;
  flex-direction: column;
  background-image: url('/images/third-section/background-shapes.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.contact-title {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 2em;
  padding-bottom: 12px;
}

.contact-description {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
  color: #fff;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

#text,
#email,
#comment {
  width: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 16px;
  font-size: 1.0625em;
  line-height: 1.25em;
  font-weight: 400;
}

#comment {
  height: 150px;
  padding: 10px 16px;
  font-family: 'Poppins', sans-serif;
}

/*
mobile menu popup
*/

.pop-up {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  color: white;
  padding: 2.25em 1.5em;
  backdrop-filter: blur(5px);
}

.menu-item {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 2.2em;
  font-weight: 500;
  line-height: 2em;
  cursor: pointer;
}

.close {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.75em;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/*
project cards popup
*/

.project-popup-hidden {
  display: none !important;
}

.project-background {
  background-color: #c1c7d0;
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.project-popup {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid #dfe1e6;
  border-radius: 1em;
  position: fixed;
  top: 1em;
  bottom: 1em;
  right: 1em;
  left: 1em;
  padding: 1em;
  z-index: 10000;
}

.project-close {
  font-size: 22px;
  color: #868990;
  float: right;
  cursor: pointer;
  padding: 10px 10px 0 0;
}

.project-header {
  color: #172b4d;
  line-height: 1.75em;
  font-weight: 700;
}

.project-header > h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 22px;
}

.project-header > p {
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.project-img {
  min-height: 100px;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}

.project-desc {
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 24px;
}

.project-footer,
.project-footer > div {
  display: flex;
  flex-direction: column;
}

.project-footer ul {
  align-self: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: row;
  display: flex;
  list-style-type: none;
  gap: 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
}

.project-footer li {
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
}

.project-links {
  display: flex;
}

.project-links a {
  font-size: 15px;
  padding: 12px;
  background-color: white;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  border: 1px solid #7f8cff;
  margin-right: 10px;
  width: 172px;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}

.project-links a i {
  margin-left: 10px;
}

@media screen and (max-width: 350px) {
  .project-links a {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  .bar-menu {
    display: none;
  }

  .hidden {
    display: flex !important;
  }

  .top-bar {
    padding: 25px 130px;
    position: fixed;
    width: 100%;
    background-color: white;
  }

  main {
    padding-top: 76px;
  }

  .menu li {
    transition: all 0.2s ease-in;
  }

  .headline-text,
  .supporting-text {
    animation: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .item-1-list {
    font-size: 0.75em;
  }

  .item-1-list li {
    flex-direction: column;
    width: 120px;
    margin-right: 15px;
    margin-top: 30px;
    padding: 20px 20px 20px 15px;
  }

  .menu li:hover {
    transform: scale(1.1);
  }

  .menu a:hover {
    color: #2230d2;
  }

  .headline {
    background-image: url('./images/dekstop-version/header-bg.svg');
    background-size: contain;
    background-position: center;
    padding: 100px 24px;
    border-bottom-left-radius: 100px;
  }

  .headline > div {
    width: 72vw;
    margin: 88px auto;
  }

  .card {
    border-radius: 24px;
    border: 1px solid #dfe1e6;
  }

  .inner-card {
    padding: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .card:nth-child(even) .inner-card {
    flex-direction: row-reverse;
  }

  .desc {
    align-self: flex-start;
    width: 100%;
    margin: 0;
    padding-right: 20px;
    justify-content: center;
    margin-left: 2em;
  }

  .reverse .desc {
    padding-left: 20px;
  }

  .highlight {
    border: 2px solid #a7aeff;
    box-shadow: 1px 20px 20px lightgrey;
  }

  .desc h3 {
    font-size: 2.5em;
    line-height: 2em;
    color: #344563;
    padding-bottom: 20px;
  }

  .desc h4 {
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: 500;
    color: #091e42;
    padding-bottom: 32px;
  }

  .desc p {
    font-size: 1em;
    padding-bottom: 24px;
  }

  .desc span {
    color: #6b778c;
    font-weight: 400;
  }

  .about > div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80vw;
  }

  .about-content {
    width: 30vw;
    padding: 24px 0;
  }

  .contact-wrapper {
    background-image: url('./images/dekstop-version/contact-form-desktop.svg');
    padding: 100px 50px 0 50px;
    border-top-left-radius: 100px;
  }

  .contact-description {
    font-size: 1.5em;
  }

  form {
    width: 40vw;
    margin: 0 auto;
  }

  .contact-wrapper span {
    display: none;
  }

  #form input {
    border-radius: 2px;
    height: 60px;
  }

  #comment {
    border-radius: 2px;
    height: 180px;
  }

  .contact-wrapper > div {
    width: 42vw;
    margin: 20px auto;
  }

  .skill-item {
    padding: 24px 0;
  }

  .item-1-list ul {
    display: flex;
  }

  .about-title {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 2em;
    color: #091e42;
    padding: 0 0 12px 0;
    width: 18vw;
  }

  .button {
    transition: all 0.2s ease-in;
  }

  .button:hover {
    transform: scale(1.1);
  }

  /*
  mobile menu popup
  */

  .pop-up {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: white;
    position: relative;
    width: initial;
    height: initial;
    gap: 2em;
  }

  .menu-item {
    display: flex;
    color: #344563;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    line-height: 2em;
  }

  /*
  desktop project popup
  */

  .project-popup {
    left: 3em;
    right: 3em;
    padding: 0.5em 1em;
    z-index: 10000;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top-bar {
    padding: 25px 100px;
  }

  .menu a {
    padding-left: 28px;
  }

  .headline-text {
    font-size: 2.25em;
  }

  .desc h3 {
    font-size: 2em;
    padding-bottom: 10px;
  }

  .desc h4 {
    font-size: 0.875em;
    padding-bottom: 8px;
  }

  .desc p {
    font-size: 0.8125em;
    padding-bottom: 20px;
  }

  .project-btn {
    margin: 20px 0;
  }

  .about-content {
    width: 30vw;
  }

  .skills {
    width: 45vw;
  }
}

@media screen and (min-width: 1024px) {
  .headline-text {
    font-size: 3em;
    line-height: 1.5em;
    letter-spacing: 0.37px;
    padding-top: 40px;
  }

  .supporting-text {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  /*
  project popup
  */

  .project-popup {
    right: 5em;
    left: 5em;
  }

  .project-img {
    margin-bottom: 59px;
  }

  .project-desc {
    margin-right: 20px;
    line-height: 30px;
    width: 50vw;
  }

  .project-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-footer > div {
    width: 30vw;
  }

  .project-footer ul {
    margin-bottom: 41px;
  }

  .project-links a {
    width: 148px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .about-content {
    width: 30vw;
  }

  .skills {
    width: 45vw;
  }
}

@media screen and (min-width: 1440px) {
  .desc h3 {
    padding-top: 20px;
  }

  .about > div {
    width: 83vw;
  }

  .about-content {
    width: 35vw;
  }

  .skills {
    width: 45vw;
  }

  .project-btn {
    margin-top: 45px;
  }

  /*
  project popup
  */

  .project-popup {
    right: 12em;
    left: 12em;
  }
}