body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffff;
  background-image: url('./images/header-shapes mobile.png');
  background-repeat: no-repeat;
  background-position-y: 70px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.my-logo a {
  position: absolute;
  width: 150px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  top: 50px;
  left: 0;
  color: #6070ff;
  font-style: normal;
  font-weight: 1000;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  flex: 0 1 auto;
}

.union {
  position: absolute;
  top: 45px;
  left: 320px;
  flex: 0 1 auto;
}

.container {
  max-width: 375px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 150px;
}

.headline-primary-text {
  width: 300px;
  height: 150px;
  top: 200px;
  left: 24px;
  color: #172b4d;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
}

.headline-body-text {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  line-height: 24px;
  top: 370px;
  left: 24px;
  color: #344563;
  flex: none;
}

.social-media-text {
  width: 150px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  size: 16px;
  line-height: 24px;
  top: 530px;
  left: 24px;
}

.social-media-icons {
  list-style-type: none;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: -38px;
  display: flex;
  width: 150px;
}

/* NEW FROM HERE */
.work-grid-container {
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;
  padding: 114px 24px;
}

.work1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  box-sizing: border-box;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.work1 h2 {
  width: 295px;
  height: 36px;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work2 h2 {
  width: 250px;
  height: 80px;
  left: 16px;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work3 h2 {
  width: 295px;
  height: 36px;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work4 h2 {
  width: 250px;
  height: 80px;
  left: 16px;
  margin-top: -5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

#work2tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin-top: 20px;
  width: 203px;
  height: 24px;
  list-style-type: none;
}

#work3tags ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  gap: 8px;
  margin-top: 20px;
  width: 203px;
  height: 24px;
}

#work4tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  list-style-type: none;
  gap: 8px;
  margin-top: 20px;
  width: 203px;
  height: 24px;
}

#work1frame ul {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -30px;
  list-style-type: none;
}

#work1tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  list-style-type: none;
}

#about-myself-social-media-icons ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-top: 15px;
  list-style: none;
  gap: 20px;
}

#work1text1 {
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

#work1counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work1counter1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work1role {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

#work1text {
  width: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work1primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

#work1tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#work1html1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 21px;
  height: 16px;
  color: #6070ff;
}

#work1tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#work1css1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 21px;
  height: 16px;
}

#work1tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#work1javascript1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.work1Actions {
  width: 295px;
  height: 72px;
}

#work4see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 150px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: -10px;
  background-color: #fff;
  transition-duration: 0.6s;
}

#work3see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 150px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: -10px;
  background-color: white;
  transition-duration: 0.6s;
}

#work2see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 150px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: -10px;
  background-color: white;
  transition-duration: 0.6s;
}

#work1see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 150px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: -10px;
  background-color: white;
  transition-duration: 0.6s;
}

#work1see-project:hover {
  background-color: #6070ff;
}

#work1see-project strong {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
}

#work4see-project strong {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
}

#work2see-project strong {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
}

#work3see-project strong {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
}

#work1see-project strong:hover {
  color: #fff;
}

.work2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  top: 744px;
  box-sizing: border-box;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

#work2frame ul {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -30px;
  list-style-type: none;
}

#work2text1 {
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

#work2counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work2counter1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work2role {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

#work2text {
  width: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work2primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

#work2tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#html2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 29px;
  height: 16px;
  color: #6070ff;
}

#work2tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#css2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 21px;
  height: 16px;
}

#work2tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#javascript2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.work2Actions {
  width: 295px;
  height: 72px;
}

#work2see-project:hover {
  background-color: #6070ff;
}

#work2see-project strong:hover {
  color: #fff;
}

.work3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  top: 744px;
  box-sizing: border-box;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

#work3frame ul {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -30px;
  list-style-type: none;
}

#work3text1 {
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

#work3counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work3counter1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work3role {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

#work3text {
  width: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work3primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

#work3tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#html3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 29px;
  height: 16px;
  color: #6070ff;
}

#work3tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#css3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 21px;
  height: 16px;
}

#work3tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#javascript3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.work3Actions {
  width: 295px;
  height: 72px;
}

#work3see-project:hover {
  background-color: #6070ff;
}

#work3see-project strong:hover {
  color: #fff;
}

.work4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  box-sizing: border-box;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

#work4frame ul {
  width: 236px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: -30px;
  list-style-type: none;
}

#work4text1 {
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

#work4counter {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work4counter1 {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

#work4role {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

#work4text {
  width: 29px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work4primary-text {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

#work4tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#html4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 29px;
  height: 16px;
  color: #6070ff;
}

#work4tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#css4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 21px;
  height: 16px;
}

#work4tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

#javascript4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.work4Actions {
  width: 295px;
  height: 72px;
}

#work4see-project:hover {
  background-color: #6070ff;
}

#work4see-project strong:hover {
  color: #fff;
}

.about-myself {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 12px;
  width: 327px;
  height: 409px;
  left: 24px;
  top: 114px;
  border-radius: 0;
}

.about-myself-primary-text {
  width: 300px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-myself-primary-bodytext {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about-myself-social-media-text {
  width: 150px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 20px;
}

#my-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  transition-duration: 0.6s;
}

.Get-It-Touch span {
  width: 108px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
}

#my-resume:hover {
  background-color: #396df2;
}

.Get-It-Touch span:hover {
  color: #fff;
  transition-duration: 0.6s;
}

#my-resume span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000;
}

#my-resume span:hover {
  color: #fff;
  transition-duration: 0.6s;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 30px;
  left: 24px;
}

#open-chevron {
  width: 40px;
  height: 40px;
  display: inline;
  position: relative;
  left: 300px;
  bottom: 55px;
}

#ul-languages {
  width: 327px;
  height: 72px;
}

#ul-frameworks {
  width: 327px;
  height: 72px;
  margin-top: 300px;
}

#ul-skills {
  width: 327px;
  height: 72px;
}

#union {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  width: 40px;
  height: 40px;
  right: 26px;
  top: calc(50% - 200px / 2);
  border: none;
}

#ul-languages h5 {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

#lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
  margin-top: 20px;
}

#javascript {
  width: 303px;
  background: #f7f7f9;
  border-radius: 8px;
  height: 24px;
  left: 76px;
  right: 12px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

#img {
  width: 48px;
  height: 48px;
  left: 12px;
  align-items: center;
  display: flex;
  padding: 8px;
}

#img1 {
  width: 48px;
  height: 48px;
  left: 12px;
  align-items: center;
  display: flex;
  padding: 8px;
}

#html {
  height: 24px;
  left: 76px;
  right: 12px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  width: 303px;
  background: #f7f7f9;
  border-radius: 8px;
}

#img2 {
  width: 48px;
  height: 48px;
  left: 12px;
  align-items: center;
  display: flex;
  padding: 8px;
}

#css {
  height: 24px;
  left: 76px;
  right: 12px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  width: 303px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 13px;
}

#tab-1 {
  height: 1px;
  width: 327px;
  background: #dfe1e6;
}

#upper-chevron {
  width: 40px;
  height: 40px;
  display: inline;
  position: relative;
  left: 300px;
  bottom: 65px;
}

#ul-frameworks h5 {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

#tab-2 {
  height: 1px;
  width: 327px;
  background: #dfe1e6;
}

#ul-skills h5 {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

#lower-chevron {
  width: 40px;
  height: 40px;
  display: inline;
  position: relative;
  left: 300px;
  bottom: 65px;
}
