*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
}

img,
img::before,
img::after {
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: white;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
}

.header {
  order: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: white;
}

.logo {
  float: left;
  order: 1;
  margin: 27px auto 0.5px 36px;
}

.mobile-toolbar {
  float: right;
  order: 1;
  margin: 20px 40px 0.5px auto;
}

@media only screen and (max-width: 48em) {
  .desktop-toolbar {
    display: none;
  }
}

#mobile-menu {
  display: none;
  position: fixed;
  background: #6070ff;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  padding: 4em 1.25em 15em;
  backdrop-filter: blur(14px);
}

.menu a {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration-line: none;
  color: white;
  margin-top: 0.75em;
}

#cancel-btn {
  float: right;
  color: #fff;
  background-color: transparent;
  width: 1.25em;
  border: none;
  font-size: 1em;
  margin-top: -0.75em;
}

#cancel-btn:hover,
#cancel-btn:focus {
  cursor: pointer;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  order: 2;
  padding: 3px;
  gap: 12px;
}

.intro {
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.7s ease-in-out;
}

.headline-primary-text {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline-primary-text > h2 {
  margin-top: -5vh;
}

.headline-bodytext {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-media-text {
  font-weight: 500;
  font-size: 20px;
  color: #7f8cff;
  line-height: 24px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
  gap: 20px;
}

#work-heading {
  display: none;
}

.work-grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin-bottom: 1em;
}

.work {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  transition: 0.5s ease-in-out;
  margin-bottom: 1em;
  padding: 0.25em 0.25em 0.25em 0.25em;
}

.work h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.workframe ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0%;
  gap: 12px;
  margin-top: -30px;
}

.worktag ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 5px;
}

.worktag > ul > li > div {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.workframe > ul > li > div {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.work-primary-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -20px;
}

.recent-work {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  row-gap: 100px;
}

.card {
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card:first-child {
  margin-top: 100px;
}

.card:last-child {
  margin-bottom: 100px;
}

.inner-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 100%;
}

.inner-card img {
  width: 100%;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.desc h3 {
  font-size: 2em;
  color: #172b4d;
}

.desc h4 {
  font-size: 0.8125px;
  color: #172b4d;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: white;
  color: #6070ff;
  font-size: large;
  margin-bottom: 5px;
  margin-left: 5px;
  transition: 0.7s ease-in-out;
}

.button:hover {
  background-color: #6070ff;
  color: white;
}

.button:active {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: row;
  text-align: center;
  color: white;
  background-color: #2230d2;
  border-radius: 8px;
}

.button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

#about-myself {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  border-radius: 0;
  transition: 0.5s ease-in-out;
}

#about-myself-primary-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#about-myself-bodytext {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#about-myself-social-media-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #7f8cff;
}

.project-desc > p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.project-desc > ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
  font-size: 0.65em;
}

.project-desc li {
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 0.1em 1em;
  font-weight: 500;
}

#about-myself-social-media-icons ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  gap: 20px;
}

.skill-list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1em;
}

#ul-languages,
#ul-frameworks,
#ul-skills {
  width: 100%;
  border-bottom: 1px solid #cdcccc;
}

#ul-languages h5,
#ul-frameworks h5,
#ul-skills h5 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

#lang-list {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
  padding: 0;
}

#javascript,
#html,
#css {
  height: 50px;
  width: 250px;
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  background: #eee;
  border-radius: 8px;
}

.footer {
  background-image: url(./images/contact-form-shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  background-color: #6070ff;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  order: 3;
  border-top-left-radius: 3em;
  transition: 0.5s ease-in-out;
}

#contact-primary-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: white;
  margin-top: 5em;
  text-align: center;
}

#contact-bodytext {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

#form-name,
#form-mail {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #b3bac5b3;
  background-color: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 327px;
  height: 48px;
}

#form-message {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #b3bac5b3;
  background-color: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: 5px;
  width: 327px;
  height: 170px;
}

#get-in-touch-button {
  margin-top: 12px;
  margin-left: 5px;
}

.img-container {
  flex: 50%;
}

.img-container > img {
  height: 80%;
  object-fit: cover;
}

.tag-item {
  font-size: 0.75rem;
  color: #4053fc;
  background-color: #ebebff;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
}

@media only screen and (min-width: 48em) {
  body {
    background-color: #f4f5f7;
  }

  .mobile-toolbar,
  #mobile-menu {
    display: none;
  }

  .icon {
    display: block;
    margin: auto;
  }

  .desktop-toolbar {
    float: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4rem;
    color: #344563;
    margin: 27px 36px;
  }

  .desktop-toolbar > a:hover,
  .desktop-toolbar > a:focus {
    transform: scale(1.1);
  }

  .intro {
    background-image: url(./images/Header-shapes-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    padding: 10em 18em 10em 18em;
    margin-bottom: 5em;
  }

  .work {
    display: flex;
    flex-direction: row;
    margin: 1em 5em 1em 10em;
    gap: 3em;
    padding: 2em 2em 2em 2em;
  }

  #about-myself {
    background-image: url(./images/about-myself-background-shape-desktop.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border-top-right-radius: 10em;
    padding: 5em 10em 5em 10em;
  }

  #about-myself-social-media-text,
  #about-myself-social-media-icons,
  #about-myself-button {
    margin-top: 2em;
  }

  #about-myself-bodytext {
    width: 447px;
    height: 102px;
  }

  #lang-list {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
  }

  .skill-list {
    margin: 2em 1em 1em 4em;
  }

  #javascript,
  #html,
  #css {
    width: 122px;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #javascript > p,
  #html > p,
  #css > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  .footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 12em;
    background-image: url(./images/contact-form-background-shapes.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #6070ff;
    width: 100%;
  }

  #contact-bodytext {
    width: 569px;
    height: 102px;
    margin: -2em 1em 3em 1em;
    padding-top: 1em;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  #get-in-touch-button {
    margin-left: 35%;
    margin-bottom: 5em;
  }

  #form-name,
  #form-mail,
  #form-message {
    width: 447px;
  }

  .img-container > img {
    height: 100%;
    object-fit: cover;
  }
}

.pop-up {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 2.25em 1.5em;
  backdrop-filter: blur(5px);
}

.menu-item {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 2.2em;
  font-weight: 500;
  line-height: 2em;
  cursor: pointer;
}

.close {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.75em;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.project-popup-hidden {
  display: none !important;
}

.project-background {
  background-color: #c1c7d0;
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.project-popup {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid #dfe1e6;
  border-radius: 1em;
  position: fixed;
  top: 1em;
  bottom: 1em;
  right: 1em;
  left: 1em;
  padding: 1em;
  height: 35.56em;
  z-index: 10000;
}

.project-close {
  font-size: 1.5em;
  color: #868990;
  float: right;
  cursor: pointer;
}

.project-header {
  color: #172b4d;
  line-height: 1.75em;
  font-weight: 700;
}

.project-header > h2 {
  font-size: 1.5em;
}

.project-header > p {
  font-size: 0.6em;
  color: #344563;
  font-weight: 500;
  text-transform: uppercase;
}

.project-header span::before {
  content: '•';
  margin: 0 8px;
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.project-img img {
  width: 100%;
  height: 100%;
}

.project-desc {
  margin: 1em 0 2em 0;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.project-links a {
  font-size: 0.7em;
  padding: 0.6em;
  background-color: white;
  border-radius: 0.8em;
  color: #6070ff;
  font-weight: 500;
  border: 1px solid #6070ff;
  gap: 1em;
  width: 9em;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bar-menu {
    display: none;
  }

  .hidden {
    display: flex !important;
  }

  .pop-up {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: white;
    position: relative;
    width: initial;
    height: initial;
    gap: 2em;
  }

  .menu-item {
    display: flex;
    color: #344563;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    line-height: 2em;
  }

  .project-popup {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid #dfe1e6;
    border-radius: 1em;
    position: fixed;
    top: 1em;
    right: 7em;
    left: 7em;
    padding: 0.5em 1em;
    height: 35.56em;
    z-index: 10000;
  }

  .project-img img {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .project-desc {
    flex-direction: row;
    display: flex;
  }

  .project-links {
    justify-content: flex-end;
    gap: 1em;
    margin-top: -5em;
    width: 68vw;
  }

  .project-desc > p {
    width: 45vw;
    margin-right: 4em;
    font-size: 16px;
  }

  .project-desc ul {
    height: 2em;
  }

  .top-bar {
    padding: 25px 130px;
    position: fixed;
    width: 100%;
    background-color: white;
  }

  main {
    padding-top: 76px;
  }

  .menu li {
    transition: all 0.2s ease-in;
  }

  .headline-text,
  .supporting-text {
    animation: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .item-1-list {
    font-size: 0.75em;
  }

  .item-1-list li {
    flex-direction: column;
    width: 120px;
    margin-right: 15px;
    margin-top: 30px;
    padding: 20px 20px 20px 15px;
  }

  .menu li:hover {
    transform: scale(1.1);
  }

  .menu a:hover {
    color: #2230d2;
  }

  .headline {
    background-image: url('./images/dekstop-version/header-bg.svg');
    background-size: contain;
    background-position: center;
    padding: 100px 24px;
    border-bottom-left-radius: 100px;
  }

  .headline > div {
    width: 72vw;
    margin: 88px auto;
  }

  .card {
    border-radius: 24px;
    border: 1px solid #dfe1e6;
  }

  .inner-card {
    padding: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .card:nth-child(even) .inner-card {
    flex-direction: row-reverse;
  }

  .desc {
    align-self: flex-start;
    width: 100%;
    margin: 0;
    padding-right: 20px;
    justify-content: center;
    margin-left: 2em;
  }

  .reverse .desc {
    padding-left: 20px;
  }

  .highlight {
    border: 2px solid #a7aeff;
    box-shadow: 1px 20px 20px lightgrey;
  }

  .desc h3 {
    font-size: 2.5em;
    line-height: 2em;
    color: #344563;
    padding-bottom: 20px;
  }

  .desc h4 {
    font-size: 1.125em;
    line-height: 1.5em;
    font-weight: 500;
    color: #091e42;
    padding-bottom: 32px;
  }

  .desc p {
    font-size: 1em;
    padding-bottom: 24px;
  }

  .desc span {
    color: #6b778c;
    font-weight: 400;
  }

  .about > div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80vw;
  }

  .about-content {
    width: 30vw;
    padding: 24px 0;
  }

  .contact-wrapper {
    background-image: url('./images/dekstop-version/contact-form-desktop.svg');
    padding: 100px 50px 0 50px;
    border-top-left-radius: 100px;
  }

  .contact-description {
    font-size: 1.5em;
  }

  form {
    width: 40vw;
    margin: 0 auto;
  }

  .contact-wrapper span {
    display: none;
  }

  #form input {
    border-radius: 2px;
    height: 60px;
  }

  #comment {
    border-radius: 2px;
    height: 180px;
  }

  .contact-wrapper > div {
    width: 42vw;
    margin: 20px auto;
  }

  .skill-item {
    padding: 24px 0;
  }

  .item-1-list ul {
    display: flex;
  }

  .about-title {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 2em;
    color: #091e42;
    padding: 0 0 12px 0;
    width: 18vw;
  }

  .button {
    transition: all 0.2s ease-in;
  }

  .button:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top-bar {
    padding: 25px 100px;
  }

  .menu a {
    padding-left: 28px;
  }

  .headline-text {
    font-size: 2.25em;
  }

  .desc h3 {
    font-size: 2em;
    padding-bottom: 10px;
  }

  .desc h4 {
    font-size: 0.875em;
    padding-bottom: 8px;
  }

  .desc p {
    font-size: 0.8125em;
    padding-bottom: 20px;
  }

  .project-btn {
    margin: 20px 0;
  }

  .about-content {
    width: 30vw;
  }

  .skills {
    width: 45vw;
  }
}

@media screen and (min-width: 1024px) {
  .headline-text {
    font-size: 3em;
    line-height: 1.5em;
    letter-spacing: 0.37px;
    padding-top: 40px;
  }

  .supporting-text {
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .about-content {
    width: 30vw;
  }

  .skills {
    width: 45vw;
  }
}

@media screen and (min-width: 1300px) {
  .desc h3 {
    padding-top: 20px;
  }

  .about > div {
    width: 83vw;
  }

  .about-content {
    width: 35vw;
  }

  .skills {
    width: 45vw;
  }

  .project-btn {
    margin-top: 45px;
  }

  .project-popup {
    right: 12em;
    left: 12em;
    height: 50em;
  }

  .project-img img {
    width: 100%;
  }

  .project-links {
    margin-top: -3em;
    width: 62vw;
  }
}
